@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,body,div#root {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  overflow:hidden;
}

div.header {
	width:100%;
	display:table;
	background-color:white;
}

div.header_child {
	display:table-cell;
	height:100%;
}

/*-------------------TABLA DE FICHA--------------------*/
div.ficha table {
	border-spacing:0px;
	font-size:14px;
}

/*
div.ficha tr {
  width:100%;
}

div.ficha td {
  min-width:50%;
  max-width:50%;
}
*/

div.ficha table td:nth-child(1) {
	font-weight:600;
}

div.ficha table td:nth-child(2) {
	font-weight:300;
}

div.ficha table td {
	text-align:center;
	padding:none;
	width:50%;
	font-size:12px;
	max-height:20px;
	min-height:20px;
}
/*-------------------TABLA DE FICHA--------------------*/


div.ficha button {
	border:none;
	font-family:'Open Sans';
	font-weight:600;
	background-color:rgb(13,190,190);
	border: 0px solid lightGray;
	color:white;
	border-radius:2px;
	min-height:40px;
	cursor:pointer;
}


div.button {
	background-color:WhiteSmoke;
	border-bottom:1px solid lightGray;
	position:relative;
	color:gray;
}

div.button:hover {
	cursor:pointer;
	color:rgb(40,40,40);
}

div.selectedButton {
	background-color:white;
	border-bottom:none;
	font-weight:800;
	position:relative;
	color:black;
}

div.espacioBlanco {
	border-bottom:1px solid lightGray;
}

option,input {
	font-family:'Open Sans';
	font-weight:300;
	text-align:center;
}

div#titulo {
	/*background-color:rgba(13,180,190,0.1);*/
	/*border-top:1px solid lightGray;*/
}

div#titulo:hover {
	/*
	background-color:rgba(13,180,190,0.2);
	text-decoration: underline;
	*/
}

div#bubble {
/*
	max-width:150px;
	min-width:100px;
*/
	padding:5px;
	height:25px;
	position: relative;
	background-color:black;
	color:white;
	border-radius: .4em;
	text-align:center;
	font-size:12px;
	vertical-align:middle;
	display:table-cell;
	font-weight:600;
}

div#bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: black;
	border-top: 0;
	margin-left: -8px;
	margin-top: -8px;
}

.polygonTooltip {
	background-color:black;
	border-color:black;
	color:white;
	font-family:'Open Sans';
	font-weight:600;
}

.leaflet-tooltip-left.polygonTooltip::before {
	border-left-color:black;
}

.leaflet-tooltip-right.polygonTooltip::before {
	border-right-color:black;
}


div#mapLegend {
  background-color:rgba(0,0,0,0.70);
  border-radius:2px;
  padding:15px;
  font-size:13px;
  font-weight:300;
  color:lightGray;
}

div#mapLegend>span {
  font-size:18px;
  font-weight:800;
}

div#mapLegend td:nth-child(2) {
  font-weight:600;
}

div.customTooltip {
  width:200px;
  display:table;
  table-layout:fixed;
}

div.customTooltip>div {
  font-family:'Open Sans';
}

div.customTooltip>div:first-child {
  font-weight:800;
  font-size:14px;
}

.highcharts-tooltip>span {
  width:auto;
  border:none;
}

.highcharts-tooltip {
  border:none;
}

#visor_table .highcharts-minor-tick, #visor_table .highcharts-tick {
	display: none;
}

#visor_table .highcharts-axis-labels, #visor_table .highcharts-yaxis-labels {
  display:none;
}

/*
 *  STYLE 2
 */

 #scroll_table_::-webkit-scrollbar-track, .resultadosDesplegables::-webkit-scrollbar-track
 {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 	border-radius: 10px;
 	background-color: #F5F5F5;
 }

 #scroll_table_::-webkit-scrollbar, .resultadosDesplegables::-webkit-scrollbar
 {
 	width: 8px;
 	background-color: #F5F5F5;
 }

 #scroll_table_::-webkit-scrollbar-thumb, .resultadosDesplegables::-webkit-scrollbar-thumb
 {
 	border-radius: 10px;
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 	background-color: #555;
 }

#filas_>tr:hover {
  background-color:rgba(13,180,190,0.4);
}

select#botonera {
  border:none;
  border-bottom: 1px solid lightgray;
}
